 /* Style Definitions */

@font-face {
	font-family: 'Ezra SIL';
	src: url(SILEOT.ttf);
}

@font-face {
	font-family: 'Scheherazade', serif, sans-serif;
	src: url(ScheherazadeRegOT.ttf);
}


.verse,
.hebrew {
	font-family: 'Ezra SIL', 'David Transparent', FrankRuehl, Arial;
	font-size: 1.3em;
	direction: rtl;
	margin-top: 1em;
	text-indent: 0em;
}

.footnote,
.strongs {
	font-size: 1em;
	direction: ltr;
}

.pagebreak
{
	page-break-before: always;
}

.centered
{
	text-align: center;
}

.bottom
{
	vertical-align: text-bottom;
}

.tablehead
{
	text-align: center;
	font-weight: bold;
}

H1 {margin-top: 1em;}
H2 {margin-top: 1em;}
H3 {margin-top: 1em;}
H4 {margin-top: 1em;}

a {text-decoration: none;}

span { display: none; }

.morph { font-weight: bold; }

